body {
    background-color: white;}


.navbar {
    display: flex;
    padding: 30px 10px 15px 0px;
    background-color:white;border-radius: 24px;
    padding-left: 20px;
    font-family: 'Inconsolata', monospace;
    justify-content: right;
    gap: 5px;
    align-items: center;
}
.link {list-style-type: none;
display: contents;
width: 100%;}

.canetto {
    
    line-height: normal;
    padding-right: 20px ;
    display: flex;
align-items:center;
width: 300px;
height: fit-content;}
    .cane{display: flex;
        justify-content:space-between;
    align-items: center;}
.immagine_1 {
    width: 400px;
    padding: 20px;
    /* height: 400px; */
}
.testo {
font-weight: bolder;
font-size: x-large;}
a{text-decoration: none;}
a:hover {color: white;
transition: all 0.35;}
p {font-size: 12px;
font-weight: bold;
font-family: 'Inconsolata', monospace;}

*{margin:0px ;}
*{margin-left: 0cm;}

.footer_ {display: flex;
    border-radius: 2px solid silver;
    padding: 10px 10px 15px 15px;
    background-color: white;
    border-radius: 24px;
    padding-left: 20px;
    font-family: 'Inconsolata', monospace;
    justify-content: left;
    gap: 10px;
    align-items: flex-end;
}